body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:940px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:847px;
  height:592px;
}
#u122 {
  position:absolute;
  left:93px;
  top:70px;
  width:847px;
  height:592px;
}
#u123 {
  position:absolute;
  left:2px;
  top:288px;
  width:843px;
  visibility:hidden;
  word-wrap:break-word;
}
