body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1148px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1078px;
  height:502px;
}
#u124 {
  position:absolute;
  left:70px;
  top:768px;
  width:1078px;
  height:502px;
}
#u125 {
  position:absolute;
  left:2px;
  top:243px;
  width:1074px;
  visibility:hidden;
  word-wrap:break-word;
}
